<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	{% load static %}
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <link rel="shortcut icon" href="{% static 'shop/dist/basket.png' %}">
	<title>CampusHub </title>
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">
	<script src="https://scripts.sirv.com/sirv.js"></script>
   </head>
  <style>
    * {
      margin: 0;
      padding: 0;
     border-spacing: border-box;   
    }
    body,
    html {
      height: 100%;
      width: 100%;
    }
  </style>

  <body>
	<div id="app"></div>
    <script src="{% static 'shop/dist/build.js' %}"></script>
  </body>
</html>
